<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to home page</h1>
    <p>Welcome, <strong th:text="${user.firstName}">[First Name]</strong> <strong th:text="${user.lastName}">[Last Name]</strong>!</p>
    <ul id="active-users-list">
        <li th:each="activeUser : ${activeusers}">
            <span  th:text="${activeUser.username}"></span>
            <button th:attr="onclick='startCall(\'' + ${activeUser.username} + '\')'">Call</button>
        </li>
    </ul>

    <script src="/js/webrtc.js"></script>
    <a href="/logout">logout</a> 

</body>
 </html>             -->
 
 
 <!-- OG and Still working -->




 <!-- <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Home</title>
 </head>
 <body>
     <h1>Welcome to home page</h1>
     <p>Welcome, <strong th:text="${user.firstName}">[First Name]</strong> <strong th:text="${user.lastName}">[Last Name]</strong>!</p>
     
     <ul id="active-users-list">
         <li th:each="activeUser : ${activeusers}">
             <span th:text="${activeUser.username}"></span>
             <button th:attr="onclick='startCall(\'' + ${activeUser.username} + '\')'">Call</button>
         </li>
     </ul>
 
     <script src="/js/webrtc.js"></script>
     <a href="/logout">logout</a> 
 </body>
 </html> -->
      